[Unit]
Description=Reflex Frontend Service (NodeJS)
After=multi-user.target

[Service]
WorkingDirectory=/home/ec2-user/ReFlexDashboard
User=ec2-user
Type=idle
ExecStart=/home/ec2-user/.nvm/versions/node/v15.11.0/bin/npm run start --prefix /home/ec2-user/ReFlexDashboard
Restart=always

[Install]
WantedBy=multi-user.target
